[providers]
python = "3.10"

[phases.setup]
nixPkgs = ["python310"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = [
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "gunicorn SoftwareApp.wsgi:application --bind 0.0.0.0:$PORT --workers 2"
